.playlist {
  display: flex;
  flex-direction: column;
  align-items: center;        
  padding: var(--padding-lg);
  /*background-color: var(--white);*/
  border-radius: var(--radius-lg);
  max-width: 400px;
  margin: var(--margin-top-auto);
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.playlistNameInput {
  text-align: center;
  text-transform: capitalize;
  width: 100%;
  padding: var(--padding-xs);
  font-size: var(--font-sm);
  border: 0 solid var(--grey-light);
  border-radius: var(--radius-sm);
  transition: border-color 0.2s;
}

.playlist h2 {
  margin-bottom: var(--margin-sm);
  font-size: var(--font-lg);
  text-align: center;
}

.savePlaylistButton {
  display: block;
  margin: var(--margin-md) var(--margin-centerElement);
  padding: var(--padding-lf-rt);
  font-size: var(--font-md);
  background-color: var(--green);
  color: var(--white);
  border: none;
  border-radius: var(--radius-sm);
  cursor: pointer;
}

.savePlaylistButton:hover {
  background-color: var(--green);
}