.playlist {
  padding: var(--padding-md);
  background-color: var(--white);
  border-radius: var(--radius-lg);
  max-width: 400px;
  margin: var(--margin-top-auto);
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.playlist h2 {
  margin-bottom: var(--margin-sm);
  font-size: var(--font-lg);
}

.savePlaylistButton {
  margin-top: var( --margin-md);
  padding: var(--padding-lf-rt);
  font-size: var(--font-md);
  background-color: var(--green);
  color: var(--white);
  border: none;
  border-radius: var(--radius-sm);
  cursor: pointer;
}

.savePlaylistButton:hover {
  background-color: var(--green);
}