.searchBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;         
  padding: 20px;
  max-width: 400px;
  margin: 0 auto;     
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.searchBar h2 {
  font-size: 20px;
  color: #333;
  margin: 0;
}

.searchInput {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.2s;
}

.searchInputfocus {
  border-color: #1db954; 
}


.searchButton {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #1db954;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.searchButton:hover {
  background-color: #17a74b;
}