.playlist {
  padding: var(--padding-lg);
   /*background-color: var(--white);*/
  border-radius: var(--radius-md);
  max-width: 400px;
  margin: var(--margin-top-auto);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.playlist h2 {
  margin-bottom: var(--margin-md);
  font-size: var(--font-lg);
  color: var(--white);
  text-align: center;
  font-family: "Google Sans Flex", sans-serif; 
}

.playlist p {
  margin-bottom: var(--margin-md);
  font-size: var(--font-md);
  color: var(--white);
  text-align: center;
  font-family: "Google Sans Flex", sans-serif;
}

.playlist ul {
  list-style-type: none; /* rimuove i pallini */
  padding: var(--padding-zero);
  margin: var(--margin-zero);
}

.playlist li {
  padding: var(--padding-md);
  border-bottom: 1px solid #ddd;
  font-size: var(--font-sm);
  color: var(--grey-light);
}

.playlist li:last-child {
  border-bottom: none; /* rimuove la linea dall'ultimo elemento */
}