@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap');

.searchBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-md);         
  padding: var(--padding-total-md);
  max-width: 400px;
  margin: 0 auto;     
  background-color: #f9f9f9;
  border-radius: var(--radius-md);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.h2 {
  font-size: var(--font-lg);
  color: var(--grey-black);
  margin: var(--margin-zero);
  font-family: "Google Sans Flex", sans-serif; 
}


.searchInput {
  width: 100%;
  padding: var(--padding-xs);
  font-size: var(--font-sm);
  border: 2px solid var(--grey-light);
  border-radius: var(--radius-sm);
  transition: border-color 0.2s;
}

.searchInputfocus {
  border-color: var(--green); 
}


.searchButton {
  padding: 10px 20px;
  font-size: var(--font-md);
  background-color: var(--green);
  color: var(--white);
  border: none;
  border-radius: var(--radius-sm);
  cursor: pointer;
  transition: background-color 0.2s;
}

.searchButton:hover {
  background-color: var(--green);
}