@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

.trackInformation h3{
  font-family: "Google Sans Flex", sans-serif;
  font-weight: 600; 
  color: rgb(255, 255, 255)!important;
}

.track p{
  font-family: "Google Sans Flex", sans-serif;
  font-weight: 300; 
  color: rgb(157, 157, 157)!important;
}

.track {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:var(--padding-lf-rt);
  border-radius: var(--radius-md);
  transition: background-color 0.2s;
}

.track:hover {
  background-color: var(--radius-md);
  background-color: rgba(255, 255, 255, 0.1);
}

.trackInformation h3 {
  margin: var(--margin-zero);
  font-size: var(--font-sm);
  color: var(--grey-black);
}

.trackInformation p {
  margin: 2px 0 0 0;
  font-size: var(--font-sm);
  color: var(--grey-light);
}

.trackAction {
  font-size: var(--font-md);
  padding: var(--padding-square);
  border: none;
  border-radius: var(--radius-sm);
  cursor: pointer;
  background-color: var(--green);
  color: var(--white);
  transition: background-color 0.2s;
}

.trackAction:hover {
  background-color: var(--green);
}