@import url('https://fonts.googleapis.com/css2?family=Sekuya&display=swap');

.title {
    padding:var(--padding-top);
    font-size: var(--font-xl);
    color: var(--white);
    text-align: center;
    font-family: "Sekuya", system-ui;
    font-weight: 400;
    font-style: normal;
}
