:root {
  /* Spaziature */
  --space-xs: 4px;
  --space-sm: 8px;
  --space-md: 16px;
  --space-lg: 24px;
  --space-xl: 32px;

  /* Font sizes */
  --font-sm: 14px;
  --font-md: 18px;
  --font-lg: 24px;
  --font-xl: 36px;

  /* Radius */
  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 16px;

  /* Colori */
  --green: #1db954;
  --white: #f9f9f9;

  /*Padding*/
    --padding-sm: 8px;
    --padding-md: 16px;
    --padding-lg: 24px;

/* Margins */
    --margin-sm: 8px;
    --margin-md: 16px;
    --margin-lg: 24px;
    --margin-top-auto: 20px auto;

/*Padding*/
    --padding-lf-rt: 10px 20px;
}