:root {
  /* Font sizes */
  --font-sm: 14px;
  --font-md: 18px;
  --font-lg: 24px;
  --font-xl: 36px;

  /* Radius */
  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 16px;

  /* Colori */
  --green: #268b1f;
  --white: #f9f9f9;
  --grey-black: #333;
    --grey-light: #666;

  /*Padding*/
    --padding-zero: 0px;
    --padding-sm: 8px;
    --padding-md: 16px;
    --padding-lg: 24px;
    --padding-square: 5px 10px;

/* Margins */
    --margin-zero: 0px;
    --margin-sm: 8px;
    --margin-md: 16px;
    --margin-lg: 24px;
    --margin-top-auto: 20px auto;
    --margin-centerElement: auto 0;

/*Padding*/
    --padding-lf-rt: 10px 20px;
    --padding-xs: 8px;
    --padding-total-sm: 16px;
    --padding-total-md: 24px;


/*Gap*/
    --gap-sm: 8px;
    --gap-md: 12px;
}