:root {
  /* Font sizes */
  --font-sm: 14px;
  --font-md: 18px;
  --font-lg: 24px;
  --font-xl: 36px;

  /* Radius */
  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 16px;

  /* Colori */
  --green: #268b1f;
  --white: #f9f9f9;
  --grey-black: #333;
    --grey-light: #666;

  /*Padding*/
   --padding-xs: 8px;
    --padding-md: 16px;
    --padding-lg: 24px;
    --padding-square: 5px 10px;
    --padding-lf-rt: 10px 20px;
    --padding-top:30px 0 0 0;


/* Margins */
    --margin-zero: 0px;
    --margin-sm: 8px;
    --margin-md: 16px;
    --margin-lg: 24px;
    --margin-top-auto: 20px auto;
    --margin-centerElement: auto 0;

/*Gap*/
    --gap-sm: 8px;
    --gap-md: 12px;
}

html, body {
  margin: 0;
  padding: 0;
  background-image:
    radial-gradient(circle at 20% 30%, rgba(0, 180, 255, 0.25), transparent 60%),
    radial-gradient(circle at 80% 70%, rgba(0, 255, 130, 0.20), transparent 60%),
    radial-gradient(circle at 50% 100%, rgba(120, 0, 255, 0.25), transparent 70%),
    linear-gradient(to bottom right, #0a0f19 0%, #000000 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}